*{
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: "NotoSansJP-Regular";
    src: url(../font/NotoSansJP-Regular.otf)
}
@font-face{
    font-family: "NotoSansJP-Light";
    src: url(../font/NotoSansJP-Light.otf)
}
#nav-item {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: flex-end;
    color:white;
}
#nav {
    background-color: #2799fa;
    border: 1px solid #2799fa;
    widows: 100vh;
    padding:1em;
}
nav a{
    text-decoration: none;
    color: white;
}
#nav-logo{
    flex-grow:1;
    margin-left: 50px;
    text-size-adjust: 16;
}
.box {
    margin-left: 4px;
    margin-right:4px;
}
.main-class {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}
.flex {
    display: grid;
    grid-template-columns: 70% 25%;
    width: 70%;
    max-width: 1000px;
    text-align: justify;
    line-height: 1.5em;
    font-family: "NotoSansJP-Light";
}
.h1 {
    margin-top: 15px;
    font-size: xx-large;
}
.articles p{
    margin-top: 10px;
}
.articles img{
    width: 600px;
    height: 600px;
}
aside {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
aside a{
    text-decoration: none;
    color: black;
}
aside img{
    width: 156px;
    height: 156px;
}
.contact    {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 100px auto 0 auto;
    background-color: #ACD9FF;
    text-align: center;
    color: #FFFFFF;
    font-family: "NotoSansJP-Light";

}
.contact h3 {
    width: 50%;
    margin-bottom: 25px;
    font-weight: normal;
}
.bouton {
    padding: 0 10px;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    text-decoration: none;
    color: #FFFFFF;
    transition: 300ms ease;
    font-family: "NotoSansJP-Light";
}
.bouton p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.contact_media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 150px;
    padding: 25px;
    font-size: 1.3em;
}
.contact_media img {
    width: 30px;
    height: 30px;
    align-items: center;
    
}
.mentions {
    margin: auto;
    padding: 10px;
    background-color: #2799FA;
    text-align: center;
    color: #FFFFFF;
    flex-wrap: wrap;
}
.mentions    a {
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
    text-decoration: none;
}