* {
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: "NotoSansJP-Regular";
    src: url(../font/NotoSansJP-Regular.otf)
}
@font-face{
    font-family: "NotoSansJP-Light";
    src: url(../font/NotoSansJP-Light.otf)
}
    #nav-item {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: flex-end;
    color:white;
}
#nav {
    background-color: #2799fa;
    border: 1px solid #2799fa;
    widows: 100vh;
    padding:1em;
}
nav a{
    text-decoration: none;
    color: white;
}
#nav-logo{
    flex-grow:1;
    margin-left: 50px;
    text-size-adjust: 16;
}
.box {
    margin-left: 4px;
    margin-right:4px;
    

}
.img-main{
    background:url(tp1art/interieur.jpg);
    background-position: bottom;
    width: 100%;
    color:white;
    height:350px;
    background-size: cover;
    text-shadow: 3px 2px 2px black;
    
}
h1 {
    text-align: center;
    padding-top: 3em;
    font-size: 3em;
}
h2 {
    padding-top:1em;
    text-align: center;
    font-style: italic;
    margin:auto;
    line-height: 1.5em;
}
.h3 {
    font-size: xx-large;
    line-height: 1.5em;
    display: block;
    margin: 1em;
    font: bold;
    margin-top: 80px;

}
.propos {
    font-family: "NotoSansJP-Regular";
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;
}
.propos-content {
    margin: 0 20px;
    width: 25%;
    max-width: 400px;
    text-align: justify;
}
.produits {
    display: flex;
    font-family: "NotoSansJP-Regular";
    text-align: center;
    margin-top: 2em;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 1.5em;
    justify-content: center;
}
.produits p {
    margin: auto;
    max-width: 500px;
    line-height: 1.5em;
    
}
.produits-class {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 30px;
        margin-top: 3em;
        margin:auto;
    }
.prod1 {
    display       : flex;
    flex-wrap     : wrap;
    flex-direction: column;
    align-items   : center;
    margin-top    : 150px;
    text-align    : center;
    max-width: 400px;
    max-height: 400px;
}
.prod1 a{
    text-decoration: none;
    color: black;
    font-family: "NotoSansJP-Light";
    text-transform: uppercase;
    letter-spacing: 1px;
}
.propos img {
    width: 600px;
    height:420px;
}
img {
    width: 400px;
    height:400px;
}
.contact    {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 100px auto 0 auto;
    background-color: #ACD9FF;
    text-align: center;
    color: #FFFFFF;
    font-family: "NotoSansJP-Light";

}
.contact h3 {
    width: 50%;
    margin-bottom: 25px;
    font-weight: normal;
}
.bouton {
    padding: 0 10px;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    text-decoration: none;
    color: #FFFFFF;
    transition: 300ms ease;
    font-family: "NotoSansJP-Light";
}
.bouton p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.contact_media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 150px;
    padding: 25px;
    font-size: 1.3em;
}
.contact_media img {
    width: 30px;
    height: 30px;
    align-items: center;
    
}
.mentions {
    margin: auto;
    padding: 10px;
    background-color: #2799FA;
    text-align: center;
    color: #FFFFFF;
    flex-wrap: wrap;
}
.mentions    a {
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
    text-decoration: none;
}